:root {
  --explosion-animation-time: 600ms;
}

@-webkit-keyframes move-8-units-X {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -512px;
  }
}

@keyframes move-8-units-X {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -512px;
  }
}

@-webkit-keyframes move-5-units-X {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -320px;
  }
}

@keyframes move-5-units-X {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -320px;
  }
}

@-webkit-keyframes move-16-units-X {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1024px;
  }
}

@keyframes move-16-units-X {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1024px;
  }
}

@-webkit-keyframes move-17-units-X {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1088px;
  }
}

@keyframes move-17-units-X {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1088px;
  }
}

@-webkit-keyframes move-34-units-X {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2176px;
  }
}

@keyframes move-34-units-X {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2176px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.spaceship {
  position: fixed;
  width: 64px;
  height: 64px;
  background-image: url(../assets/images/ship.png);
  -webkit-animation: move-8-units-X 300ms steps(8) infinite;
          animation: move-8-units-X 300ms steps(8) infinite;
}

.enemy {
  position: fixed;
  width: 64px;
  height: 64px;
  background-image: url(../assets/images/enemy.png);
  -webkit-animation: move-5-units-X 300ms steps(5) infinite;
          animation: move-5-units-X 300ms steps(5) infinite;
  z-index: 5;
}

.enemy--big {
  width: 128px;
  height: 128px;
  background-image: url(../assets/images/enemy-big.png);
  -webkit-animation: move-16-units-X 300ms steps(8) infinite;
          animation: move-16-units-X 300ms steps(8) infinite;
  z-index: 4;
}

.explosion {
  position: fixed;
  width: 64px;
  height: 64px;
  background-image: url(../assets/images/explosion.png);
  -webkit-animation: move-17-units-X 600ms steps(17) forwards;
          animation: move-17-units-X 600ms steps(17) forwards;
}

.explosion--big {
  width: 128px;
  height: 128px;
  background-image: url(../assets/images/explosion-big.png);
  -webkit-animation: move-34-units-X 600ms steps(17) forwards;
          animation: move-34-units-X 600ms steps(17) forwards;
}

.missile {
  position: absolute;
  background-image: url(../assets/images/missile.png);
  background-size: cover;
  width: 12px;
  height: 24px;
}

.information {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  font-size: 32px;
  z-index: 5;
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.modal__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__text {
  font-size: 42px;
  text-align: center;
}

.modal__button {
  padding: 30px 15px;
  background-color: transparent;
  border: 3px solid #09fcfd;
  color: #09fcfd;
  cursor: pointer;
  font-size: 42px;
  margin-top: 20px;
  outline: none;
  position: relative;
}

.modal__button::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 20px 5px #09fcfd;
          box-shadow: 0px 0px 20px 5px #09fcfd;
  opacity: 0;
  -webkit-transition: opacity .1s ease-in;
  transition: opacity .1s ease-in;
}

.modal__button:hover::after {
  opacity: 1;
}

.hide {
  display: none;
}
