*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: $font-default;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

.spaceship {
    position: fixed;
    width: $size-unit;
    height: $size-unit;
    background-image: url(../assets/images/ship.png);
    animation: move-8-units-X $ships-animation-time steps(8) infinite;
}

.enemy {
    position: fixed;
    width: $size-unit;
    height: $size-unit;
    background-image: url(../assets/images/enemy.png);
    animation: move-5-units-X $ships-animation-time steps(5) infinite;
    z-index: 5;

    &--big {
        width: $size-unit * 2;
        height: $size-unit * 2;
        background-image: url(../assets/images/enemy-big.png);
        animation: move-16-units-X $ships-animation-time steps(8) infinite;
        z-index: 4;
    }
}

.explosion {
    position: fixed;
    width: $size-unit;
    height: $size-unit;
    background-image: url(../assets/images/explosion.png);
    animation: move-17-units-X $explosion-animation-time steps(17) forwards;

    &--big {
        width: $size-unit * 2;
        height: $size-unit * 2;
        background-image: url(../assets/images/explosion-big.png);
        animation: move-34-units-X $explosion-animation-time steps(17) forwards;
    }
}

.missile {
    position: absolute;
    background-image: url(../assets/images/missile.png);
    background-size: cover;
    width: 12px;
    height: 24px;
}

.information {
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    font-size: 32px;
    z-index: 5;

    &__content {
        
    }
}

.modal {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__text {
        font-size: 42px;
        text-align: center;
    }

    &__button {
        padding: 30px 15px;
        background-color: transparent;
        border: 3px solid $color-btn;
        color: $color-btn;
        cursor: pointer;
        font-size: 42px;
        margin-top: 20px;
        outline: none;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: 0px 0px 20px 5px $color-btn;
            opacity: 0;
            transition: opacity .1s ease-in;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}



.hide {
    display: none;
}