$font-default: 'Lato', sans-serif;

$size-unit: 64px; // wielkość pojedynczej klatki

$ships-animation-time: 300ms;
$explosion-animation-time: 600ms;

$color-btn: #09fcfd;

:root {
    --explosion-animation-time: #{$explosion-animation-time};
}